*{
    padding: 0;
    margin: 0;
}
.miama{
    font-family: 'Miama', sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 500;
  font-size: 8rem;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-uniquifier{
    font-family: "Inter", sans-serif;
    color: white;
    font-optical-sizing: auto;
    font-style: normal;
    
}
body{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    background-color: rgb(0, 0, 0);;
}
.orange{
    color: rgb(230, 83, 60);
}
.white-2{
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    gap: 15px;
}
.display-flex{
    display: flex;
}
header{
    margin-bottom: 100px;
}
.band-name{
    text-align: left;
}
.nav-items{
    list-style: none;
}
.nav-items>a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 0.7rem;
    font-weight: 200;
}
.unlist{
    gap: 35px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 4px 8px;
    border-radius: 2.43rem;
}
.navber{
    justify-content: space-between;
    align-items: center;
    margin: 30px 100px; 
}
.menu-icon{
    display: none;
}
.items-1{
    background-color:  rgb(230, 83, 60);
    padding: 0.18rem 0.8rem;
    border-radius: 40px;
}
.banner{
    margin: 80px 130px 30px 100px;
    justify-content: space-between;
    gap: 100px;
}
.banner-title{
    width: 40%;
}
.banner-name{
    font-size: 70px;
    font-weight: 900;

}
.banner-img{
    width: 340px;
    height: 500px;
}
.card-1{
    align-items: center;
    gap: 5px;
    height: 76px;
    width: 150px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    border-radius: 10px;
    background: rgba(48, 48, 48, 0.54);
    padding-left: 10px;
    margin: -130px -15px;
}
.card-colour{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
}
.video-icon{
    display: none;
}
.card-2{
    gap: 15px;
    height: 80px;
    width: 150px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    border-radius: 10px;
    background: rgba(48, 48, 48, 0.54);
    padding: 10px;
    margin: -370px 0px -370px 180px;
}
.section-1{
    margin: 80px 100px 30px 180px;
    /* padding-top: 50px; */

}
.section-title{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}
.section-title>p{
    padding-top: 10px;
    width: 80%;
    text-align: center;
}
.sec-1{
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 50px;
    padding-right: 0;
}
.sectionimg{
    border: 1px solid white;
    margin-top: 50px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.sectionh3{
    padding: 10px;
}
.sec-1pg{
    width: 200px;
}
.section-2{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    margin: 100px 200px 80px 170px;
    display: flex;
    justify-content: space-between;
}
.section2img{
    height: 180px;
    width: 220px;
    border-radius: 18%;
    padding: 38px 40px;
    object-fit: none;
    object-position: 65% 29%;
}
.section-2title{
    padding: 41px 64px;
    flex-direction: column;
    gap: 10px;
    width: 30%;
}
.section-2title>h1{
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 25px;
}
.button{
    width: 130px;
    color: white;
    background-color: rgb(230, 83, 60);
    height: 34px;
    margin-top: 25px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
}
.button-2{
    border-radius: 30px;
    width: 130px;
    color: white;
    background-color: black;
    height: 34px;
    margin-top: 25px;
    border: 1px solid white;
    margin-left: 10px;

}
.section-4{
    margin: 80px 170px 50px 150px;
    /* padding-left: 30px; */
    /* padding-right: 30px; */
    
}
.section4img{
    height: 95%;
    width: 95%;
    border-radius: 18px;
}
.trainerimg{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    padding: 10px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;   
}
.name-1, .name-2, .name-3, .name-4, .name-5, .name-6{
    position: relative;
    bottom: 80px;
    left: 10px;  
}
.section-3{
    margin: 20px;
}
.bmi{
   margin: 30px 50px;
    background-color: rgba(255, 255, 255, 0.1);
    justify-content: space-between;
    border-radius: 18px;
}
.bmi-part1{
    width: 40%;
    margin: 80px 60px;
}
.bmi-chat{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: 200px;
    width: 316px;
    margin-top: 30px;
}
.bmi-item{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 10px;
    text-align: center;
}
.Height{
    width: 230px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding-left: 10px;
    grid-area: Height;
    margin-bottom: 10px;
}
.Weight{
    width: 230px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.Age{
    width: 230px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding-left: 10px;
    grid-area: Age;
    margin-bottom: 10px;
}
.Sex{
    width: 230px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding-left: 10px;
    grid-area: Sex;
    margin-bottom: 10px;
}
.Selectanactivityfactor{
    width: 230px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding-left: 10px;
    grid-area: Select an activity factor;
}
select>option{
    color: black;
}
.bmicheck{
    margin-right: 50px;
    margin-top: 75px;
}
.bmicheck>h2{
    margin-bottom: 10px;
}
footer{
    margin: 30px 50px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
}
.footersection{
    display: flex;
    justify-content: space-around;
   

}
.footertitle{
    width: 30%;
    padding: 130px 2px;
}
.footertitle>h1{
    color: rgb(230, 83, 60);
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 20px;
    position: static;
}
.Contactinfo>h2{
    margin-top: 100px;
    margin-bottom: 15px;
}
.Contactlist{
    list-style: none;
    padding: 5px 0;
}

.Contactlist>a{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}
hr{
    margin: 0 70px;
}
.copyright{
    text-align: center;
    padding: 20px 0;
}

@media screen and (max-width:576px){
    .unlist{
        border: none;
    }
    .nav-items{
        display: none;
    }
    .menu-icon{
        display: flex;
    }
    .navber{
        margin: 0px;
        padding: 18px;
        align-items: center;
        justify-content: space-between;
    }
    .miama{
        font-size: 5rem;
    }
    .banner{
        margin: 50px 18px;
        flex-direction: column;
        width: 90%;
    }
    .banner-title{
        width: 85%;
    }
    .banner-img{
        width: 100%;
    }
    .banner-name{
        width: 100%;
        font-size: 45px;
        font-weight: 800;
    }
    .video-icon{
        display: flex;
    }
    .card-colour{
        margin-right: -25px;
    }
    .card-1{
        margin: -300px -10px;
    }
    .card-2{
        margin: -240px 200px;
    }
    .section-1{
        margin: 0px;
        padding-top: 550px;
    }
    .sec-1{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .sec-1pg{
        align-items: center;
        margin: 0 auto;
    }
    .section-2{
        margin: 10px;
        margin-top: 70px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .section-2title{
        width: 60%;
    }
    .section2img{
        padding-top: 10px;
        margin: 0 auto;
    }
    .section-4{
        margin: 0px;
    }
    .trainerimg{
        display:  grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 5px;
        margin-top: 20px;
        padding: 10px 25px;
    }
    .hide{
        display: none;
    }
    .bmi{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 10px;
    }
    .bmi-part1{
        width: 95%;
        margin: 10px;
    }
    .Height, .Weight, .Age, .Sex, .Selectanactivityfactor{
       height: 30px;
        width: 130px;
    }
    .bmicheck{
        margin: 20px;
    }
    .footersection{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    footer{
        margin: 10px 0px;
    }
    .footertitle{
        width: 80%;
        padding: 10px;
    }
    .Contactinfo>h2{
        padding: 20px 10px;
        margin: 0;
    }
    .Contactlist{
        padding-left: 10px;
    }
    
}

@media screen and (max-width:1199.98px) and (min-width:992px) {
        .sec-1{
            gap: 15px;
       }
        .section-1{
            margin-top: 300px;
            /* margin: 0 auto; */
            margin-left: 100px;
            margin-right: 50px;
        }
        .banner{
            justify-content: space-between;
            margin: 130px 80px;
        }
        .banner-name{
            font-size: 50px;
            font-weight: 700;
        }
        .banner-title{
            width: 40%;
        }
        .section-2{
            margin: 0;
        }
        .trainerimg{
            width: auto;
        }
        .section-2title{
            padding: 41px 64px;
            flex-direction: column;
            gap: 10px;
            width: 50%;
        }
        .section4img{
            height: 280px;
            width: 98%;
            border-radius: 18px;
        }
        .Height, .Weight, .Age, .Sex, .Selectanactivityfactor{
            height: 40px;
             width: 170px;
         }
    
}